dashboard.json
[
    {
        "id": "95ab57fded601097",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a93c44313ac351a8",
        "type": "mqtt-broker",
        "name": "Brocker público",
        "broker": "mqtt://broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "edd0b134bfe3c145",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "1a27c6e59a093055",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "978a549395de20b2",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "edd0b134bfe3c145",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "1a27c6e59a093055",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "af5a549904b69638",
        "type": "ui-group",
        "name": "AXO_COOL",
        "page": "978a549395de20b2",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2ea41277d935a5f6",
        "type": "mqtt in",
        "z": "95ab57fded601097",
        "name": "",
        "topic": "sed/G09/axo_cool/feedback",
        "qos": "1",
        "datatype": "json",
        "broker": "a93c44313ac351a8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "b9e56ec756f24f61",
                "eab8e1fc12789b29"
            ]
        ]
    },
    {
        "id": "4fce6ab48066282a",
        "type": "ui-gauge",
        "z": "95ab57fded601097",
        "name": "Temperatura",
        "group": "af5a549904b69638",
        "order": 3,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperatura",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "ºC",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "15",
                "color": "#5cd65c",
                "text": "",
                "textType": "value"
            },
            {
                "from": "23",
                "color": "#ffc800",
                "text": "",
                "textType": "value"
            },
            {
                "from": "25",
                "color": "#ea5353",
                "text": "",
                "textType": "value"
            }
        ],
        "min": "15",
        "max": "30",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 770,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "b9e56ec756f24f61",
        "type": "function",
        "z": "95ab57fded601097",
        "name": "function 1",
        "func": "if (typeof msg.payload === \"string\") {\n    msg.payload = JSON.parse(msg.payload);\n}\n\nvar msg1 = { payload: msg.payload.temp };\nvar msg2 = { payload: msg.payload.pw };\nvar msg3 = { payload: msg.payload.status };\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 120,
        "wires": [
            [
                "4fce6ab48066282a",
                "1ff2144e6088e05b"
            ],
            [
                "e1ebd20629a123af"
            ],
            [
                "6dcfc441ebbaa9f1"
            ]
        ]
    },
    {
        "id": "1ff2144e6088e05b",
        "type": "ui-chart",
        "z": "95ab57fded601097",
        "group": "af5a549904b69638",
        "name": "Histórico de Temperatura",
        "label": "Histórico de Temperatura",
        "order": 4,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "Tiempo",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "{HH}:{mm}",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Temperatura (ºC)",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "15",
        "ymax": "30",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#62a0ea",
            "#62a0ea",
            "#62a0ea",
            "#62a0ea",
            "#62a0ea",
            "#62a0ea",
            "#62a0ea",
            "#62a0ea",
            "#62a0ea"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 790,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6dcfc441ebbaa9f1",
        "type": "ui-text",
        "z": "95ab57fded601097",
        "group": "af5a549904b69638",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Estado del Sistema",
        "label": "Estado del Sistema",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 830,
        "y": 260,
        "wires": []
    },
    {
        "id": "e1ebd20629a123af",
        "type": "ui-gauge",
        "z": "95ab57fded601097",
        "name": "Potencia Ventilador",
        "group": "af5a549904b69638",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Potencia Ventilador",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "\\%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#99c1f1",
                "text": "",
                "textType": "label"
            },
            {
                "from": "50",
                "color": "#3584e4",
                "text": "",
                "textType": "label"
            },
            {
                "from": "100",
                "color": "#1a5fb4",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 830,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "eab8e1fc12789b29",
        "type": "switch",
        "z": "95ab57fded601097",
        "name": "Alarma > 25",
        "property": "payload.temp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "25",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 340,
        "wires": [
            [
                "2bcf46e90ac86c90"
            ]
        ]
    },
    {
        "id": "2bcf46e90ac86c90",
        "type": "debug",
        "z": "95ab57fded601097",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 460,
        "wires": []
    },
    {
        "id": "9c1b1d376016b06a",
        "type": "mqtt in",
        "z": "95ab57fded601097",
        "name": "sed/G09/axo_cool/status",
        "topic": "sed/G09/axo_cool/status",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a93c44313ac351a8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "6dcfc441ebbaa9f1"
            ]
        ]
    },
    {
        "id": "b5ad5486bf1c76e0",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]